Pandemic 1.0
nb_players          	     4
rows                	    70
cols                	    70
nb_rounds           	   200
initial_health   	   100
nb_units		    15
bonus_per_city_cell	     1
bonus_per_path_cell	     1
factor_connected_component  2
infection_factor           50
mask_protection            20

GENERATOR1
